@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    position: relative;
    background: white;
}

.boxlen{
    position: fixed;
    bottom: 0;
    right: -10%;
    width: 60px;
    height: 60px;
    background: white;
    box-shadow: 0 0 5px black;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    z-index: 999999999;
}
@keyframes boxlen_vao{
    0%{right: -10%;}
    100%{right: 0;}
}
@keyframes boxlen_ra{
    0%{right: 0%;}
    100%{right: -10%;}
}
.loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px;
    background: white;
    z-index: 99999999;
}
.loading img{
    position: absolute;
    left: 25%;
    top: 10%;
    width: 50%;
    height: 60%;
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent, black);
    background-size: 200%;
    border-radius: 6px;
}
a{
    text-decoration: none;
    color: white;
    font-family: 'FontAwesome';
    font-weight: 400;
}
option:focus{
    outline: none;
}
img{
    width: 100%;
    height: 100%;
    transition: all .5s;
}
.warp{
    position: relative;
}



.form_login{
    position: fixed;
    left: 0%;
    top: -100%;
    width: 100%;
    height: 100%;
    z-index: 9999;
    transform-origin: top;
    background: rgba(0, 0, 0, 0.747);
}
.ani{
    animation-name: ani;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
@keyframes ani {
    0%{top: -100%;}
    100%{top: 0;}
}
.form_login p{
    letter-spacing: .35em;
    width: 30%;
    height: 100px;
    background: black;
    color: white;
    text-align: center;
    line-height: 100px;
    margin-top: 150px;
    margin-left: 35%;
    font-size: 30px;
    margin-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    box-shadow: 0 0 5px black,0 0 15px black,0 0 25px black;
}
.form_login form{
    margin-top: 0;
    margin-left: 35%;
    width: 30%;
    background: white;
    position: relative;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 0 5px black,0 0 15px black,0 0 25px black;
}

.form_login form i{
    color: black;
    width: 0;
}
.form_login form p{
    clear: both;
    margin-top: 50px;
    line-height: 0;
    background: red;
    margin-left: 0;
    color: black;
    height: 0px;
    width: 100%;
    text-align: center;
    font-size: 18px;
}
.form_login form .row{
    margin: auto;
    width: 90%;
    height: 40px;
    margin-top: 0px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 20px;
}
.form_login form .row input{
    margin:10px auto;
    width: 80%;
    height: 100%;
    transition: all .3s;
    background: none;
    border: none;
    border-bottom: solid 2px black;
    text-align: center;
    
}
.form_login form .row input:focus{
    width: 100%;
    border-bottom: solid 2px orangered;
}

.form_login form .row1{
    margin: auto;
    width: 90%;
    height: 200px;
    margin-top: 30px;
    text-align: center;
}
.form_login .btn{
    background: black;
    color: white;
    border: none;
    height: 35px;
    width: 40%;
    margin-left: 60%;
    margin-left: 10px;
    transition: all .3s;
    margin-top: 20px;
    font-size: 13px;
}
.form_login .btn:hover{
    background: orangered;
}
.form_login .btn:nth-child(3){
    background: orangered;
}
.form_login .btn:nth-child(3):hover{
    background: black;
}



.thanhdatve{
    position: fixed;
    bottom: 0;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    background: black;
    z-index: 9999;
}
.thanhdatve form{
    width: 80%;
    height: 100%;
    margin-left: 10%;
    background: black;
}
.thanhdatve form select{
    width: 25%;
    margin-right: 10px;
    height: 80%;
    margin-top: 4px;
    background: black;
    border: none;
    border-right: solid 2px white;
    color: white;
}
.thanhdatve form input{
    width: 10%;
    margin-left: 75px;
    background: none;
    border: none;
    color: white;
}
.thanhdatve form select:hover{
    cursor: pointer;
}
.thanhdatve form input:hover{
    cursor: pointer;
}





header{
    top: 0;
    width: 100%;
    height: 60px;
    position: fixed;
    background: rgb(255, 255, 255);
    z-index: 999999;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    transform-origin: top;
}
@keyframes header{
    0%{transform: scaleY(0);}
    100%{transform: scaleY(1);}
}

header .logo{
    width: 20%;
    position: absolute;
    left: 0%;
    top: 0;
    height: 60px;
    text-align: center;
    line-height: 15px;
    font-size: 20px;
    color: black;
    z-index: 1;
    letter-spacing: .15em;
}



header .timkiem{
    position: absolute;
    width: 20%;
    height: 100%;
    left: 18%;
    z-index: 1;
}
header .timkiem form{
    position: absolute;
    top: 30%;
    height: 60%;
    width: 100%;
   z-index: 999;
}

header .timkiem form .tim{
    height: 80%;
    width: 30%;
    border: none;
    background: black;
    color: white;
}
header .timkiem form .text{
    height: 70%;
    width: 0%;
    border: none;
    border-bottom: solid 1px black;
    text-align: center;
    color: black;
    transition: all .3s;
}
input:focus{
    outline: none;
}
select:focus{
    outline: none;
}
option{
    background: rgb(255, 255, 255);
    color: black;
    font-size: 18px;
}
option:checked{
    background: black;
    color: white;
}
header .timkiem form:hover .text{
    width: 65%;
}


 header .tranglogin{
    position: absolute;
    height: 100%;
    width: 15%;
    right: 1%;
    top: 5%;
    line-height: 60px;
    z-index: 1;
}
header a{
    color: gray;
}
header .tranglogin a:nth-child(1){
    border-right: solid 2px gray;
    margin-right: 5px;
}
header .tranglogin a:hover{
    color: black;
}
header nav{
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0;
    top: 25%;
}
header nav ul{
    width: 40%;
    margin: auto;
    margin-left:700px;
    line-height: 30px;
    height: 100%;
}
header nav ul li{
    float: left;
    list-style: none;
    width: 20%;
    text-align: center;
    transition: all .3s;
    position: relative;
    transition: all .3s;
    z-index: 2;
}
header nav ul li:nth-child(1){
    border-right: solid 1px black;
}
header nav ul li:nth-child(2){
    margin-left: 15px;
    font-weight: inherit;
    font-family: 'GaramondPremrPro-It';
    text-align: left;
    z-index: -1;
}
header nav ul li i{
    margin-right: 5px;
}
header nav ul li:hover .box_phim{
    transform: scaley(1);
    transition: all .3s;
}
header nav ul li .box_phim{
    transform: scaley(0);
    transform-origin: top;
    position: absolute;
    left: -750px;
    top: -15px;
    width: 1300%;
    height: 450px;
    background: rgba(255, 255, 255, 0.966);
    z-index: 8811;
    transition: all .3s;
    box-shadow: 0 5px 5px rgb(0, 0, 0);
}
header nav ul li .box_phim .box{
    width: 20%;
    height: 100%;
    margin-left: 2%;
    float: left;
    color: black;
    position: relative;
}
header nav ul li .box_phim .box:nth-child(1){
    width: 25%;
}
header nav ul li .box_phim .box:nth-child(2){
    text-align: left;
}
header nav ul li .box_phim .box:nth-child(3){
    text-align: left;
}
header nav ul li .box_phim .box .box_logo{
    width: 70%;
    height: 180px;
    margin-left: 15%;
    margin-top: -25px;
    background: black;
    color: white;
}
header nav ul li .box_phim .box .location{
    width: 80%;
    position: absolute;
    bottom: 10px;
    left: 14%;
    font-size: 18px;
}
header nav ul li .box_phim .box .location p{
    text-align: left;
}
header nav ul li .box_phim .box .fpt{
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 18px;
}
header nav ul li .box_phim .box .location p:nth-child(2){
    margin-top: -20px;
}
header nav ul li .box_phim .box .box_logo h2 span{
    font-size: 50px;
    margin-right: 7px;
    line-height: 150px;
    text-transform: uppercase;
}
header nav ul li .box_phim .box .box_logo p{
    text-transform: uppercase;
    font-size: 15px;
    margin-top: -60px;
}
header nav ul li .box_phim .box .tieude{
    width: 100%;
    height: 50px;
    margin-top: 30px;
    border-bottom: solid 1px black;
    text-align: left;
    line-height: 50px;
    font-size: 25px;
}
header nav ul li .box_phim .box .phim{
    font-style: italic;
    font-size: 20px;
    line-height: 40px;
    transition: all .3s;
    position: relative;
}
header nav ul li .box_phim .box a:hover .anhphim{
    display: block;
    transition: all .3s;
}
header nav ul li .box_phim .box .phim .anhphim{
    position: absolute;
    width: 300px;
    height: 200px;
    right: -80%;
    top: 0;
    background: red;
    z-index: 9999999;
    display: none;
}
header nav ul li .box_phim .box .phim:hover{
    color: orangered;
}
header nav ul li .box_phim .box form{
    width: 80%;
    height: 50%;
    margin-top: 13%;
    margin-left: 10%;
}
header nav ul li .box_phim .box form .row{
    clear: both;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    position: relative;
}
header nav ul li .box_phim .box form input{
    width: 100%;
}
header nav ul li .box_phim .box form .row input{
    width: 90%;
    height: 100%;
    background: none;
    border: none;
    border-bottom: solid 1px black;
    transition: all .3s;
}
header nav ul li .box_phim .box form .row input:focus{
    border-bottom: solid 1px orangered;
    width: 100%;
}
header nav ul li .box_phim .box form .btn{
    width: 40%;
    height: 40px;
    background: black;
    color: white;
    border: none;
    margin-right: 10px;
    transition: all .3s;
}
header nav ul li .box_phim .box form .btn:hover{
    background: orangered;
    cursor: pointer;
}






header nav ul li a{
    color: black;
    position: relative;
    font-size: 20px;
}



.warp{
   background: white;
   color: whitesmoke;
}
.banner_top{
    position: relative;
    margin-top: 100px;
    width: 100%;
    height: 550px;
}
.banner_top .listbanner{
    position: absolute;
    left: 40%;
    bottom: 20px;
    width: 40%;
    height: 10px;
}
.banner_top .listbanner span{
    width: 10%;
    height: 100%;
    float: left;
    margin-right: 2%;
    background-color: none;
    border: solid 1px white;
    transition: all .3s;
}
.banner_top .listbanner span:hover{
    background: white;
    cursor: pointer;
}
.banner_top .box_trailer{
    position: absolute;
    width: 90%;
    height: 100%;
    left: 5%;
    top: 0;
    background: blue;
    overflow: hidden;
}
.banner_top .box_trailer img{
    width: 100%;
    height: 100%;
    background-size: cover;
    animation-name: img;
    animation-fill-mode: forwards;
    animation-duration: 15s;
}
@keyframes img{
    0%{transform: scale(1);}
    100%{transform: scale(1.5);}
}
.maubanner{
    background: white;
}



.banner_bottom{
    width: 100%;
    height: 550px;
    position: relative;
    margin-top: 500px;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}
@keyframes banner_bottom{
    0%{margin-top: 500px;}
    100%{margin-top: 100px;}
}
.banner_bottom .ten_box{
    width: 80%;
    height: 10%;
    position: absolute;
    top: 0%;
    left: 10%;
    text-align: center;
    font-size: 20px;
}
.banner_bottom .ten_box::after{
    position: absolute;
    content: '';
    width: 40%;
    bottom: 5px;
    left: 0;
    height: 50%;
    border-top: solid 2px black;
}
.banner_bottom .ten_box::before{
    position: absolute;
    content: '';
    width: 40%;
    bottom: 5px;
    right: 0;
    height: 50%;
    border-top: solid 2px black;
}
.banner_bottom .ten_box p{
    background: #eaeaea;
    width: 15%;
    height: 30px;
    line-height: 30px;
    margin: auto;
    color: #666666;
}
.banner_bottom .box_phim{
    position: absolute;
    width: 80%;
    height: 85%;
    left: 10%;
    bottom: 0;
}
.banner_bottom .box_phim .box{
    width: 24.2%;
    height: 100%;
    float: left;
    margin-right: 10px;
    background: black;
    position: relative;
    overflow: hidden;
    transition: all .3s;
}
.banner_bottom .box_phim .box .tenphim{
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.493);
    width: 100%;
    height: 100%;
}
.banner_bottom .box_phim .box .tenphim p{
    position: absolute;
    bottom: -20px;
    left: 20px;
    font-size: 20px;
    width: 100%;
    height: 10%;  
}
.banner_bottom .box_phim .box img{
    transition: all .3s;
}
.banner_bottom .box_phim .box:hover img{
    transform: scale(1.3);
}
/*banner_bottom 2*/
.banner_bottom2{
    height: 700px;
}
.banner_bottom2 .ten_box{
    top: 10%;
}
.banner_bottom .best_phim{
    position: absolute;
    width: 100%;
    height: 80%;
    bottom: 0;
    left: 0%;
    background: black;
}
.banner_bottom .best_phim .left{
    position: absolute;
    width: 50%;
    left: 0;
    height: 100%;
    top: 0;
    background: black;
}
.banner_bottom .best_phim .left video{
    width: 100%;
    height: 100%;
}
.banner_bottom .best_phim .right{
    position: absolute;
    width: 40%;
    right: 5%;
    height: 80%;
    top: 10%;
    text-align: left;

}
.banner_bottom .best_phim .right p{
    font-size: 20px;
}
.banner_bottom .best_phim .right a{
    padding: 15px 40px;
    border: solid 2px white;
    color: white;
    position: relative;
    letter-spacing: .35em;
}
.banner_bottom .best_phim .right a::after{
    position: absolute;
    content: '';
    width: 0;
    height: 10%;
    background: white;
    left: -1%;
    bottom: 0;
    transition: all .3s;
}
.banner_bottom .best_phim .right a:hover::after{
    width: 101%;
}
.banner_bottom .best_phim .right p:nth-child(1){
    font-size: 40px;
}
.banner_bottom .best_phim .right p:nth-child(4){
    margin-bottom: 50px;
}







section{
    margin-top: 150px;
    width: 100%;
    height: 800px;
    position: relative;
}
section .tieude{
    position: absolute;
    left: 10%;
    width: 50%;
    height: 50px;
    border-bottom: solid 1px rgb(167, 167, 167);
    line-height: 50px;
}
section .tieude span{
    font-size: 20px;
    margin-right: 10px;
    padding: 14px 10px;
    color: black;
}
.mautieude{
    border-bottom: solid 3px black;
}
section .listphim{
    width: 80%;
    height: 720px;
    position: absolute;
    bottom: -100%;
    left: 10%;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    
}

@keyframes len{
    0%{bottom: -100%;}
    100%{bottom: 0;}
}
.soc{
    position: absolute;
    width: .5%;
    height: 100%;
    background: black;
    right: 0;
    top: 0;
    transform: scaleY(0);
    animation-duration: 7s;
    animation-fill-mode: forwards;
    z-index: 99;
}
@keyframes soc{
    0%{transform: scaleY(0);}
    100%{transform: scaleY(1);}
}


section .listphim .phimdangchieu{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 110%;
   
}
section .listphim .phimsapchieu{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 110%;
    display: none;
}
section .listphim .more{
    position: absolute;
    bottom: 0;
    right: 2%;
    width: 15%;
    height: 50px;
    border: solid 2px black;
    text-align: center;
    color: black;
    line-height: 50px;
    transition: all .3s;
    z-index: 99;
    letter-spacing: .35em;
}
section .listphim .more::after{
    position: absolute;
    content: '';
    width: 0%;
    height: 10%;
    left: -1%;
    bottom: 0;
    background: black;
    transition: all .3s;
    z-index: -1;
}
section .listphim .more:hover{
    color: black;
    line-height: 45px;
}
section .listphim .more:hover::after{
    width: 102%;

}
section .listphim .phim{
    width: 32%;
    height: 300px;
    float: left;
    margin-right: 1%;
    margin-bottom: 20px;
    position: relative;
    transition: all .3s;
    overflow: hidden;
}
section .listphim .phim .hinhphim{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .5s;
}
section .listphim .phim .hinhphim .diemphim{
    position: absolute;
    right: 4%;
    top: 4%;
    width: 38px;
    height: 38px;
    background: white;
    border-radius: 50%;
    text-align: center;
    color: black;
    font-size: 20px;
    line-height: 38px;
}
section .listphim .phim .hinhphim:hover img{
    transform: scale(1.3);
}
section .listphim .phim .ngaychieu{
    position: absolute;
    left: -100%;
    top: 10%;
    background: white;
    color: black;
    width: 20%;
    height: 30px;
    line-height: 30px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: center;
    transition: all .5s;
}
section .listphim .phim .hinhphim:hover .ngaychieu{
    left: 0%;
}
section .listphim .phim .tenphim{
    position: absolute;
    bottom: -35%;
    left: 0;
    width: 100%;
    height: 50%;
    font-size: 17px;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.699);
    animation-duration: 1s;
    animation-fill-mode: backwards;
    overflow: hidden;
    z-index: 999;
    transition: all .5s;
}
section .listphim .phim .tenphim p{
    margin-left: 10px;
}
section .listphim .phim .hinhphim:hover .muave{
    top: -5%;
}
section .listphim .phim .hinhphim:hover .tenphim{
   bottom: -6%;
}
section .listphim .phim .muave{
    position: absolute;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.699);
    text-align: center;
    line-height: 300px;
    transition: all .6s;
}
section .listphim .phim .muave a{
    border: solid 1px white;
    color: white;
    padding: 15px 30px;
    transition: all .3s;
    position: relative;
    z-index: 9;
    letter-spacing: .15em;
}
section .listphim .phim .muave a::after{
    position: absolute;
    content: '';
    left: -1%;
    bottom: 1%;
    height: 100%;
    width: 5%;
    background: white;
    transition: all .3s;
}
section .listphim .phim .muave a:hover{
    color: black;
}
section .listphim .phim .muave a:hover::after{
    width: 102%;
    z-index: -1;
}

.tinkhuyenmai{
    margin-top: 100px;
    height: 800px;
    margin-bottom: 200px;
}
.tinkhuyenmai .texthide{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: black;
    font-size: 290px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 900px;
}
.tinkhuyenmai .boxkhuyenmai{
    width: 80%;
    height: 850px;
    position: absolute;
    bottom: -115%;
    left: 10%;
    animation-name: len1;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
@keyframes len1{
    0%{bottom: -115%;}
    100%{bottom: -15%;}
}
.tinkhuyenmai .boxkhuyenmai .khuyenmai{
    width: 23%;
    height: 47%;
    float: left;
    margin-right: 2%;
    margin-top: 2%;
    position: relative;
}
.tinkhuyenmai .boxkhuyenmai .khuyenmai .tenkhuyenmai{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.76);
    color: white;
    font-size: 20px;
    text-align: center;
    transform: scaleY(0);
    transition: all .3s;
}
.tinkhuyenmai .boxkhuyenmai .khuyenmai .tenkhuyenmai a{
    padding: 10px 25px;
    border: solid 1px white;
    font-size: 15px;
}
.tinkhuyenmai .boxkhuyenmai .khuyenmai .tenkhuyenmai a:hover{
    background: white;
    color: black;
    font-size: 15px;
}
.tinkhuyenmai .boxkhuyenmai .khuyenmai .tenkhuyenmai p{
    margin-top: 150px;
}
.tinkhuyenmai .boxkhuyenmai .khuyenmai:hover .tenkhuyenmai{
    transform: scaleY(1);
}


.thongtin{
    width: 80%;
    height: 850px;
    position: absolute;
    bottom: -15%;
    left: 10%;
    font-size: 20px;
    line-height: 35px;
    color: black;
}

footer{
    width: 100%;
    height: 200px;
    line-height: 200px;
    background: black;
    color: white;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    
    
}





/*login*/
.login{
    width: 100%;
    height: 600px;
    position: relative;
    margin-top:120px;
}
.logain:hover .formlogin{
    transition: all .5s ease;transform: rotateY(180deg);
}
.login .formlogin{
    position: absolute;
    width: 80%;
    height: 100%;
    left: 10%;
    top: 0;
    transform-style: preserve-3d;
    transition: all .5s;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
@keyframes dangky{
    0%{}
    100%{transform: perspective(600px) rotateY(-180deg);}
}
@keyframes dangnhap{
    0%{transform: rotateY(180deg);}
    100%{transform: rotateY(0deg);}
    
}
.login .frmlogin:hover{
    transform: perspective(600px) rotateY(-180deg);
}

.login .formlogin .dangnhap{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    backface-visibility: hidden;
    color: wheat;
    transition: all .5s;
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0px 0px 10px black;
    background: black;
    overflow: hidden;
}
.login .formlogin .dangnhap .left{
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: black;
    text-align: center;
    border-bottom-right-radius: 400px;
}

.login .formlogin .dangnhap .left .noidung{
   
    margin-top: 140px;
    font-size: 35px;
    color: white;
    
}

.login .formlogin .dangnhap .left .noidung .button{
    width: 50%;
    height: 30px;
    border: none;
    background: rgb(255, 255, 255);
    color: black;
    border-radius: 50px;
    
}
.login .formlogin .dangnhap .right{
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: rgb(255, 255, 255);
    border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;
    
}
.login .formlogin .dangnhap .right form{
    position: absolute;
    right: 20%;
    top: 25%;
    width: 60%;
    height: 60%;
    text-align: center;
    font-size: 40px;
    color: black;
}
.login .formlogin .dangnhap .right form input{
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
}
.login .formlogin .dangnhap .right form p{
    font-size: 20px;
    height: 0;
}
.login .formlogin .dangnhap .right form .button{
    position: relative;
    margin-top: 30px;
    margin-left: 0px;
    clear: both;
    width: 65%;
    height: 35px;
    border: none;
    background-image: linear-gradient( 135deg, black,rgb(142, 68, 173),black);
    background-size: 200%;
    color: white;
    border-radius: 50px;
    transition: all .5s;
}
.login .formlogin .dangnhap .right form .button:hover{
    background-position: right;
}

.login .formlogin .dangky{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    backface-visibility: hidden;
    color: rgb(0, 0, 0);
    transition: all .5s;
    transform: perspective(600px) rotateY(180deg);
    box-shadow: 0px 0px 10px black;
    background: white;
}
  

.login .formlogin .dangky .left{
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: black;
    border-bottom-right-radius: 400px;
    border-top-right-radius: 300px;
    text-align: center;
}
.login .formlogin .dangky .right .noidung{
   text-align: center;
    margin-top: 150px;
    font-size: 35px;
    color: black;
    
}
.login .formlogin .dangky .right .noidung .button{
    width: 50%;
    height: 40px;
    border: none;
    background-image: linear-gradient( 135deg, black,rgb(142, 68, 173),black);
    background-size: 200%;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    transition: all .5s;
}
.login .formlogin .dangky .right .noidung .button:hover{
    background-position: right;
}
.login .formlogin .dangky .right{
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: rgb(255, 255, 255);
}
.login .formlogin .dangky .left form{
    position: absolute;
    right: 20%;
    top: 27%;
    width: 60%;
    height: 60%;
    text-align: center;
    font-size: 40px;
    color: white;
    
}
.login .formlogin .dangky .left form input{
    width: 100%;
    height: 30px;
    border: none;
    text-align: center;
    border: none;
    
}
.login .formlogin .dangky .left form p{
    font-size: 20px;
    height: 0;
}
.login .formlogin .dangky .left form .button{
    position: relative;
    margin-top: 30px;
    margin-left: 0px;
    clear: both;
    width: 50%;
    height: 30px;
    border: none;
    background: white;
    color: black;
    border-radius: 50px;
}
.login .formlogin .dangky .left form .button::after{
    width: 0;
}
.login .formlogin .dangky .left form .button::before{
    width: 0;
}
.animation_dangky{
    animation-name: dangky;
}
.animation_dangnhap{
    animation-name: dangnhap;
}
.backhome{
    position: absolute;
    left: 2%;
    top: 2%;
    width: 15%;
    height: 50px;
    z-index: 99;
}

/*detail*/
.trailer{
    position: relative;
    margin-top: 57px;
    width: 84%;
    margin-left: 8%;
    height: 700px;
    background: red;
}
.trailer .box{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: red;
}
.trailer video{
    position: absolute;
    width: 100%;
    
}
article{
    width: 55%;
    height: 1000px;
    
    margin-left: 9%;
    float: left;
    margin-top: 200px;
}
aside{
    width: 25%;
    margin-top:200px;
    float: left;
    margin-bottom: 150px;
}
aside .tieude{
    width: 100%;
    height: 50px;
    text-align: left;
    line-height: 50px;
    margin-bottom: 10px;
    color: black;
}
aside .tieude span{
    border-bottom: solid 1.5px black;
    padding-bottom: 10px ;
    font-size: 20px;
}
aside .phim{
    width: 100%;
    height: 350px;
   
}
aside .hinhphim{
    width: 100%;
    height: 80%;
    position: relative;
}
aside .hinhphim .muave{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.582);
    z-index: 99;
    text-align: center;
    line-height: 300px;
    transform: scaleY(0);
    transition: all .3s;
}
aside .hinhphim .muave a{
    padding: 15px 40px;
    border: solid 1px white;
    color: white;
    transition: all .3s;
}
aside .hinhphim:hover .muave{
    transform: scaleY(1);
}
aside .hinhphim .muave a:hover{
    background: black;
    border: solid 1px black;
}
aside .tenphim{
    width: 100%;
    color: white;
    line-height: 30px;
    font-size: 18px;
}
aside .more{
    width: 30%;
    text-align: center;
    padding: 15px 20px;
    margin-left: 220px;
    border: solid 1px black;
    margin-bottom: 10px;
    transition: all .3s;
    position: relative;
    color: black;
    letter-spacing: .15em;
}
aside .more::after{
    position: absolute;
    content: '';
    width: 0%;
    height: 10%;
    background: black;
    left: 0%;
    bottom:  0;
    transition: all .3s;
    z-index: -1;
}
aside .more:hover::after{
    width: 100%;
}
aside .more:hover{
    color: black;
}

article .anhphim{
    width: 35%;
    height: 400px;
    float: left;
}
article .thongtinphim{
    width: 45%;
    height: 400px;
    margin-left: 30px;
    float: left;
    line-height: 35px;
    font-size: 17px;
    color: black;
}
article .thongtinphim span{
    color: gray;
}
article .thongtinphim .tenphim{
    font-size: 30px;
    color: black;
}
article .danhgiasao{
    color: gray;
}
article .danhgiasao a{
    color: gray;
}
article .danhgiasao i:hover{
    color: yellow;
}
article .danhgiasao .b1:hover ~ i{
    color: yellow;
}article .danhgiasao .b2:hover ~ i{
    color: yellow;
}
article .danhgiasao .b3:hover ~ i{
    color: yellow;
}article .danhgiasao .b4:hover ~ i{
    color: yellow;
}
article .danhgiasao .b5:hover ~ i{
    color: yellow;
}article .danhgiasao .b6:hover ~ i{
    color: yellow;
}
article .danhgiasao .b7:hover ~ i{
    color: yellow;
}article .danhgiasao .b8:hover ~ i{
    color: yellow;
}
article .danhgiasao .b9:hover ~ i{
    color: yellow;
}article .danhgiasao .b10:hover ~ i{
    color: yellow;
}
article .noidungphim{
    margin-top: 50px;
    width: 90%;
    height: 200px;
   
    float: left;
}
article .noidungphim .tieude{
    font-size: 20px;
    width: 20%;
    height: 30px;
    border-bottom: solid 1.5px black;
    color: black;
}
article .noidungphim p{
    line-height: 30px;
    font-size: 20px;
    color: #737373;
}
article .tieude2{color: black;
    width: 50%;
    height: 50px;
    border-bottom: solid 1px gray;
    float: left;
    margin-bottom: 50px;
    line-height: 50px;
}
article .tieude2 span{
    margin-right: 50px;
    font-size: 20px;
    padding-bottom: 14px;
}
article .binhluan{
    width: 90%;
    
    float: left;
    position: relative;
    display: none;
}
article .binhluan form{
    width: 100%;
    height: 100px;
    border-bottom: solid 2px black;
    position: relative;
}
article .binhluan form input{
    width: 100%;
    height: 50px;
    background: rgb(255, 255, 255);
    border: solid 1px rgb(194, 194, 194);
}
article .binhluan form input:nth-child(2){
    position: absolute;
    bottom: 10%;
    right: 0;
    width: 20%;
    height: 30px;
    background: black;
    color: white;
    border: none;
}
article .binhluan .hienbinhluan{
    position: relative;
    width: 100%;
    height: 80px;
    margin-top: 10px;
    
}
article .binhluan .hienbinhluan .tenbinhluan{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: black;
}
article .binhluan .hienbinhluan .tenbinhluan::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background: none;
    border-bottom: solid 1px black;
}
article .binhluan .hienbinhluan p{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: black;
}
article .datve{
   
    width: 70%;
    height: 400px;
    margin-left: 50px;
    float: left;
    position: relative;
    
}
article .datve::after{
    position: absolute;
    content: 'MUA VÉ NHANH';
    width: 40%;
    height: 50px;
    top: 0;
    left: 0;
    background: black;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 17px;
}
article .datve form{
    width: 80%;
    margin-left: 10%;
    height: 300px;
   
    margin-top: 50px;
}
article .datve form select{
    margin-top: 10px;
    width: 100%;
    height: 50px;
   background: black;
   border: none;
   margin-top: 30px;
   color: white;
}
article .datve form select option:checked{
    background: black;
    color: white;
}
article .datve form select option{
    text-align: center;
    color: black;
    background: white;
}
article .datve form input{
    position: absolute;
   
    width: 40%;
    height: 50px;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 17px;
    border: none;
}


/*datve*/
.thongtinphongchieu{
    position: relative;
    width: 100%;
    height: 150px;
    margin-top: 70px;
    background: #2B2D3D;
}
.thongtinphongchieu .thongtin{
    position: absolute;
    left: 30%;
    top: 0;
    width: 40%;
    height: 100%;
    text-align: center;
    color: gray;
}
.thongtinphongchieu .thongtin p{
    text-transform: uppercase;
    font-size: 40px;
}
.thongtinphongchieu .thongtin p:nth-child(2){
    font-size: 20px;
    margin-top: -20px;
}
.thongtinphongchieu form{
    position: absolute;
    left: 10%;
    top: 35%;
    height: 30%;
    width: 10%;
    background: #ff4444;
}
.thongtinphongchieu form input{
    width: 100%;
    height: 100%;
    border: none;
    background: #ff4444;
    color: white;
    cursor: pointer;
    transition: all .3s;
}
.thongtinphongchieu form input:hover{
    background: black;
}
.phongchieu{
    width: 100%;
    height: 800px;
    margin-top: 100px;
}


.phongchieu .chongoi{
    margin: auto;
    width: 100%;
    height: 100%;
    position: relative;
}
.phongchieu .chongoi .manhinh{
    width: 100%;
    height: 30%;    
}
.phongchieu .chongoi .ghengoi{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 60%;
}
.phongchieu .chongoi .screen{
    position: absolute;
    width: 80%;
    height: 5%;
    top: 30%;
    left: 10%;
    text-align: center;
    font-size: 30px;
    color: gray;
}
.phongchieu .chongoi .screen::after{
    position: absolute;
    content: '';
    width: 40%;
    height: 50%;
    top: 0%;
    left: 0%;
    text-align: center;
    font-size: 30px;
    border-bottom: solid 2px gray;
}
.phongchieu .chongoi .screen::before{
    position: absolute;
    content: '';
    width: 40%;
    height: 50%;
    top: 0%;
    right: 0%;
    text-align: center;
    font-size: 30px;
    border-bottom: solid 2px gray;
}
.phongchieu .chongoi .ghengoi .hangghe1{
    width: 10%;
    height: 100%;
  
}
.hangghe1{
    position: absolute;
    left: 0;
}
.hangghe2{
    width: 10%;
    height: 100%;
    position: absolute;
    right: 0;
}
.ghengoi .ghe{
    margin-top: 20px;
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    
}
.ghengoi .vitri{
    width: 80%;
    height: 100%;
    position: absolute;
    left: 10%;
    bottom: 0;
}
.ghengoi .vitri .hang{
    margin: auto;
    height: 30px;
    margin-top: 20px;
}
.ghengoi .vitri .hang .box{
    margin-left: 1.4%;
    width: 5%;
    height: 30px;
    background: none;
    border: solid 1px gray;
    float: left;
    text-align: center;
    line-height: 30px;
    color: gray;
    position: relative;
}


.ghengoi .vitri .hang .box:hover{
    background: white;
    color: black;
}
#hetcho{
    background: orangered;
    border: solid 1px orangered;
    color: white;
}
#hetcho::after{
    position: absolute;
    content: 'hết chỗ';
    top: -100%;
    width: 100%;
    height: 100%;
    background: red;
    left: 0;
    display: none;
}
#hetcho:hover::after{
    display: block;
}



/*danh sach phim*/
.danhsachphim{
    width: 100%;
    margin-top: 100px;
    position: relative;
    background: red;
}
.danhsachphim .tieude{
    position: absolute;
    top: 0;
    width: 80%;
    left: 10%;
    height: 50px;
    border-bottom: solid 2px gray;
    line-height: 50px;
    color: black;
}
.danhsachphim .tieude span{
    font-size: 20px;
    padding-bottom: 15px;
    margin-right: 30px;
}
.danhsachphim .listphim{
    width: 80%;
    position: absolute;
    top: 100px;
    left: 10%;
  
}
.danhsachphim .listphim .phimsapchieu{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0%;
   
}
.danhsachphim .listphim .phimdangchieu{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0%;
   
}
.danhsachphim .listphim .phim{
    width: 23%;
    margin-bottom: 20px;
    height: 430px;
    float: left;
    margin-right: 20px;
    overflow: hidden;
}
.danhsachphim .listphim .anhphim{
    width: 100%;
    height: 100%;
    position: relative;
    transition: all .5s;
    overflow: hidden;
}
.danhsachphim .listphim .anhphim:hover img{
    transform: scale(1.3);
}
.danhsachphim .listphim .anhphim .ngaychieu{
    position: absolute;
    left: -100%;
    top: 10%;
    width: 30%;
    height: 30px;
    line-height: 30px;
    background: white;
    color: black;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: center;
    z-index: 99;
    transition: all .5s;
}
.danhsachphim .listphim .anhphim:hover .ngaychieu{
    left: 0;
}
.danhsachphim .listphim .anhphim .chitiet{
    position: absolute;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.651);
    z-index: 1;
    text-align: center;
    line-height: 400px;
    transition: all .6s;
}
.danhsachphim .listphim .anhphim:hover .chitiet{
    top: 0;
}
.danhsachphim .listphim .anhphim .chitiet a{
    padding: 15px 40px;
    border: solid 1px white;
    position: relative;
    color: white;
}
.danhsachphim .listphim .anhphim .chitiet a::before{
    position: absolute;
    content: '';
    left: -1%;
    top: 0;
    background: white;
    width: 5%;
    height: 100%;
    transition: all .3s;
    z-index: -1;
}
.danhsachphim .listphim .anhphim .chitiet a:hover::before{
    width: 102%;
    color: black;
}
.danhsachphim .listphim .anhphim .chitiet a:hover{
    color: black;
}
.danhsachphim .listphim .noidungphim{
    position: absolute;
    bottom: -20%;
    left: 0;
    width: 100%;
    height: 30%;
    background: rgba(0, 0, 0, 0.664);
    transition: all .5s;
    z-index: 2;
}
.danhsachphim .listphim .noidungphim p{
    margin-left: 10px;
}
.danhsachphim .listphim .anhphim:hover .noidungphim{
    bottom: 0;
}


/*trang tiem kiem*/
.trangtimkiem{
    width: 100%;
    background: black;
    margin-top: 100px;
    position: relative;
}
.trangtimkiem .khungketqua{
    position: absolute;
    width: 80%;
    left: 10%;
    top: 0;
    margin-bottom: 50px;
    box-shadow: 0 0 10px black;
}
.trangtimkiem .khungketqua .ketqua{
    width: 22%;
    height: 400px;
    float: left;
    margin-left: 2.5%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.trangtimkiem .khungketqua .ketqua .hinhphim{
    width: 100%;
    height: 90%;
    position: relative;
    transition: all .3s;
}
.trangtimkiem .khungketqua .ketqua .tenphim{
    width: 100%;
    height: 10%;
    line-height: 20px;
}
.trangtimkiem .khungketqua .ketqua .hinhphim .chitiet{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.753);
    transform: scaley(0);
    transition: all .3s;
}
.trangtimkiem .khungketqua .ketqua .hinhphim .chitiet a{
    line-height: 350px;
    padding: 15px 30px;
    border: solid 1px black;
    margin-left: 30%;
    transition: all .3s;
}
.trangtimkiem .khungketqua .ketqua .hinhphim .chitiet a:hover{
    background: black;
}
.trangtimkiem .khungketqua .ketqua .hinhphim:hover .chitiet{
    transform: scaley(1);
}


/* tranf thanh toan*/
.form_thanhtoan{
    width: 100%;
    height: 550px;
    position: relative;
    margin-top: 150px;
}
.form_thanhtoan form{
    position: absolute;
    width: 30%;
    height: 110%;
    left: 35%;
    box-shadow:0 0 10px black;
}
.form_thanhtoan form .row{
    width: 90%;
    height: 10%;
    margin-left: 5%;
    margin-top: 5%;
    position: relative;
    
}
.form_thanhtoan form .row label{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    color: gray;
}
.form_thanhtoan form .row input{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 48%;
    width: 100%;
    z-index: 9;
    box-shadow: 1px 1px 2px black;
    border: none;
    font-size: 13px;
    text-align: center;
    color: black;
    background: none;
}
.form_thanhtoan form .submit{
    width: 30%;
    margin-left: 35%;
    margin-top: 25px;
    height: 40px;
    background: black;
    border: solid 1px black;
    color: white;
}
.chuckhach{
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 170px;
   
    z-index: 999;
    text-align: center;
}
.chuckhach .box{
    width: 50%;
    position: absolute;
    height: 100%;
    left: 25%;
    
}
.chuckhach .box p{
    font-size: 35px;
    text-align: center;
    color: black;
}
.chuckhach .box i{
    font-size: 100px;
    text-align: center;
    color: black;
    
}
.chuckhach .box a{
    padding: 15px 20px;
    background: black;
    transition: all .3s;
}
.chuckhach .box a:hover{
    background: orangered;
}




/*user*/
.box_user{
    width: 80%;
    margin-left: 10%;
    height: 700px;
    box-shadow: 0 0 5px black;
    margin-top: 100px;
    position: relative;
    background: white;
    color: black;
}
.box_user .left{
    position: absolute;
    left: 0;
    top: 0;
    width: 20%;
    height: 100%;
    background: black;
    color: white;
}
.box_user h2{
    margin-top: 0;
    margin-bottom: 0;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 40px;
    border-bottom: solid 2px black;
}
.box_user .left p{
    width: 100%;
    height: 40px;
    margin-top: 0px;
    margin-bottom: 0;
    text-align: center;
    line-height: 40px;
    transition: all .3s;
    font-size: 20px;
}
.box_user .left p:hover{
    background: white;
    color: black;
}
.user_mau{
    background: white;
    color: black;
}
.box_user .right{
    position: absolute;
    right: 0%;
    top: 0;
    width: 80%;
    height: 100%;
}
.box_user .right .box{
    width: 100%;
    height: 100%;
    position: absolute;
}
.box_user .right .box .content{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 600px;
}
.box_user .right .box .content form{
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
    top: 10%;
}
.box_user .right .box .content form .thongtin{
    clear: both;
    position: relative;
    width: 100%;
    height: 80px;
    left: 0;
    bottom: 0;
    line-height: 0;
}
.box_user .right .box .content form .thongtin label{
    position: absolute;
    height: 30px;
    width: 100%;
    text-align: left;
    top: 20px;
    left: 0;
    line-height: 30px;
    color: gray;
}
.box_user .right .box .content form .thongtin input{
    position: absolute;
    height: 30px;
    width: 80%;
    text-align: center;
    bottom: 0;
    left: 0;
    background: none;
    border: none;
    border-bottom: solid 1px black;
    color: black;
    transition: all .3s;
}
.box_user .right .box .content form .thongtin input:focus{
    width: 100%;
    border-bottom: solid 1px orangered;
}
.box_user .right .box .content form .btn{
    height: 30px;
    width: 20%;
    text-align: center;
    margin-top: 20px;
    margin-left: 40%;
    background: black;
    color: white;
    border: none;
    transition: all .3s;
}
.box_user .right .box .content form .btn:hover{
    background: orangered;
}
#lsdv{
    display: none;
}
.box_user .right .box .content table{
    width: 100%;
}
.box_user .right .box .content table tr{
    height: 50px;
    text-align: center;
    transition: all .3s;
    border-bottom: solid 1px black;

}
.box_user .right .box .content table tr:nth-child(1){
    background: black;
    color: white;
}
.box_user .right .box .content table tr td{
    height: 50px;
    border: solid 1px black;
}
.box_user .right .box .content table tr:hover{
    background: black;
    color: white;
}
.box_user .right .box .content table tr td a{
    color: red;
}